
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QLCHBanDienThoaiMoi</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QLCHBanDienThoaiMoi.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.23.0/sweetalert2.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <!-- Logo / Tên thương hiệu -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="margin-left:30px;">
                    QLCHBanDienThoaiMoi
                </a>
                <!-- Nội dung Navbar -->
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                    </ul>

                    <form asp-controller="SanPham" asp-action="Search" method="get" class="d-flex ms-4" style="width: 300px;">
                        <input type="text" name="keyword" class="form-control" placeholder="Tìm kiếm sản phẩm...">
                        <button type="submit" class="btn btn-primary ms-2">Tìm</button>
                    </form>


                    <!-- Các liên kết bên phải -->
                    <ul class="navbar-nav mb-2 mb-sm-0" style="margin-right:30px;gap:5px;">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="GioHangs" asp-action="Index" class="btn btn-outline-primary">
                                <i class="fa-solid fa-cart-shopping"></i> Giỏ Hàng
                                @if (ViewBag.soSanPham != null && ViewBag.soSanPham > 0)
                                {
                                    <span class="badge bg-danger">@ViewBag.soSanPham</span>
                                }

                            </a>
                        </li>

                        <a class="btn btn-primary" asp-controller="Account" asp-action="Login">
                            <i class="bi bi-box-arrow-in-right"></i> Đăng nhập
                        </a>


                    </ul>
                </div>
            </div>
        </nav>

    </header>


    @RenderSection("FullWidthCarousel", required: false)
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - QLCHBanDienThoaiMoi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.23.0/sweetalert2.min.js" integrity="sha512-pnPZhx5S+z5FSVwy62gcyG2Mun8h6R+PG01MidzU+NGF06/ytcm2r6+AaWMBXAnDHsdHWtsxS0dH8FBKA84FlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @if (TempData["ThongBao"] != null)
    {
        <script>
            var ThongBao = '@Html.Raw(TempData["ThongBao"])';
        </script>
    }
    <script src="~/js/giohang.js"></script>
    <script src="~/js/function.js" asp-append-version="true"></script>
</body>
</html>
