@model QLCHBanDienThoaiMoi.Models.GioHang
@{
    ViewData["Title"] = "Index";
    int stt = 1;
}
<h3 class="fs-4 fw-bold text-primary mb-4">
    <strong>Giỏ hàng của bạn</strong>
</h3>
@if (Model.ChiTietGioHangs == null || !Model.ChiTietGioHangs.Any())
{
    <div class="alert alert-info text-center fs-1">
        Giỏ hàng của bạn đang trống!
    </div>
}
else
{
    
    <table class="table table-hover">
        <thead class="table-primary p">
            <tr class="text-center">
                <th class="text-start">
                    <input type="checkbox" id="select-all" />
                    <div class="small">Chọn tất cả</div>
                </th>
                <th>
                    @Html.DisplayName("Hình ảnh")
                </th>
                <th>
                    @Html.DisplayName("STT")
                </th>
                <th>
                    @Html.DisplayName("Tên sản phẩm")
                </th>
                <th>
                    @Html.DisplayName("Giá bán")
                </th>
                <th>
                    @Html.DisplayName("Số lượng")
                </th>
                <th>
                    @Html.DisplayName("Thành tiền")
                </th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ChiTietGioHangs)
            {
                var totalPrice = item.SanPham.GiaKhuyenMai * item.SoLuong;
                <tr>
                    <td>
                        <input type="checkbox" class="product-checkbox" data-total="@totalPrice" data-id="@item.Id" />
                    </td>
                    <td>
                        <img src="~/images/@item.SanPham.HinhAnh"
                             style="width: 60px; height: 60px; object-fit: cover; border-radius: 5px;">
                    </td>
                    <td>
                        @stt
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
                    </td>
                    <td class="text-end">
                        @Html.FormatPrice(item.SanPham.GiaKhuyenMai)
                    </td>
                    <td class="text-end">
                        @Html.DisplayFor(modelItem => item.SoLuong)
                    </td>
                    <td class="text-end fw-bold text-danger">
                        @Html.FormatPrice(totalPrice)
                    </td>
                    <td class="text-center">

                        <div class="btn-group btn-group-sm column-gap-sm-1">
                            <form asp-action="Delete" method="post">
                                <input type="hidden" name="SanPhamId" value="@item.SanPhamId" />
                                <button type="button" class="btn btn-outline-danger" id="delete-btn" title="Xóa" onclick="confirmDelete(this,'@item.SanPham.TenSanPham')"><i class="fas fa-trash"></i></button>
                            </form>
                        </div>

                    </td>
                </tr>
                stt++;
            }
        </tbody>
    </table>

    <div class="float-end border-top pt-3 mt-3 d-flex g-1">
        <p>
            <strong>Tổng tiền </strong>
            <span id="selectedCount"></span>
            <strong> sản phẩm đã chọn:</strong>
            <span id="selectedTotal" class="text-danger fw-bold">@Html.FormatPrice(0)</span>
        </p>
        <div class="ms-2">
            <form method="get" asp-action="Create" asp-controller="HoaDonBans" id="checkoutForm">
                <input type="hidden" name="selectedCartItems" id="selectedCartItems" />

                <button type="submit" class="btn btn-success btn-lg">
                    <i class="fas fa-credit-card"></i> Thanh toán
                </button>

            </form>
        </div>
    </div>
}
