@model IEnumerable<QLCHBanDienThoaiMoi.DTO.SanPhamDTO>

<div class="row row-cols-md-5 g-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img class="card-img-top" src="~/images/@item.HinhAnh"
                         alt="@item.TenSanPham" style="height:160px;object-fit:cover;">
                </a>

                <div class="card-body d-flex flex-column">
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id"
                       class="card-title"
                       style="text-decoration:none; color:black; white-space: normal; word-wrap: break-word;">
                        @item.TenSanPham
                    </a>
                    @if ((item.PhanTramKhuyenMai) > 0)
                    {
                        <h6 class="text-danger mb-0 fst-italic">@Html.FormatPrice(item.GiaKhuyenMai)</h6>
                        <div>
                            <span class="text-muted text-decoration-line-through fs-5">@Html.FormatPrice(item.GiaBan)</span>
                            <span class="text-danger fst-italic fw-bold">-@item.PhanTramKhuyenMai%</span>
                        </div>
                    }
                    else
                    {
                        <h6 class="text-danger mb-0 fst-italic fw-bold">@Html.FormatPrice(item.GiaBan)</h6>
                    }

                    <div class="mt-auto d-flex gap-2 justify-content-center">
                        <form asp-controller="GioHangs" asp-action="AddToCart" method="post">
                            <input type="hidden" name="SanPhamId" value="@item.Id" />
                            <input type="hidden" name="soLuong" value="1" />
                            <button type="submit" class="btn btn-primary flex-fill text-center">
                                <i class="fa-solid fa-cart-plus"></i> <b> Thêm vào giỏ</b>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
